.btn {
  display: inline-block;
  /* background-color: rgba(255, 0, 0, 0.863); */
  background-image: repeating-linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    rgb(255, 94, 0)
  );
  width: 15vw;
  height: 30vh;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  border-radius: 1vw;
  position: fixed;
  top: 10px;
  right: 10px;
  border-width: 0;
}
